@page
@using Acme.BookStore.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Acme.BookStore.Web.Pages.Profile
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<BookStoreResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.MenuItemName = "MoviesStore";
    PageLayout.Content.Title = "Profile";
}
@section scripts
    {
    <abp-script src="/Pages/Profile/Index.js" />
}

<div style="display: flex; justify-content: center; align-items: center; padding: 10px; height: 100vh;">
    <div style="display: flex; justify-content: center; align-items: center; width: 70%; gap: 20px;">
        <div style="width: 26%;">
            <abp-card class="hoverable-card">
                <abp-card-body>
                    <h4>Filmler</h4>
                    <abp-carousel>
                        @foreach (var movie in Model.Movies)
                        {
                            <abp-carousel-item src="data:image/jpeg;base64,@Convert.ToBase64String(movie.ImageContent)" caption-title=@movie.Name></abp-carousel-item>
                        }
                    </abp-carousel>
                </abp-card-body>
            </abp-card>
        </div>

        <div style="width: 26%;">
            <abp-card class="hoverable-card">
                <abp-card-body>
                    <h4>Kitaplar</h4>
                    <abp-carousel>
                        @foreach (var book in Model.Books)
                        {
                            <abp-carousel-item src="data:image/jpeg;base64,@Convert.ToBase64String(book.ImageContent)" caption-title=@book.Name></abp-carousel-item>
                        }
                    </abp-carousel>
                </abp-card-body>
            </abp-card>
        </div>
    </div>
</div>

<style>
    .d-block {
        width: auto;
        max-height: 300px;
    }

    .hoverable-card {
        transition: background-color 0.3s;
    }

        .hoverable-card:hover {
            background-color: #ADD8E6; /* Light blue color */
        }
</style>
